replicaCount: 1

image:
  repository: nginx
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

namespace:
  name: "demo-app"

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}

podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # runAsUser: 1000
  # runAsNonRoot: true

service:
  name: "http"
  protocol: "TCP"
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  # Se quiser HPA por memória também, habilita aqui:
  targetMemoryUtilizationPercentage: null
  # targetMemoryUtilizationPercentage: 80
